<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="title" content="The Mesa Complex - Unblocked Games and Emulators.">
    <meta name="description" content="" Unforeseen Consequences"">

</head>

<body>
 
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <li class="breadcrumb-item"><a href="/themesasimple">Home</a></li>
            {% for crumb in crumbs offset: 1 %}
            {% if forloop.last %}
            <li class="breadcrumb-item active" aria-current="page">
                {{
                crumb | replace:'-',' ' | remove:'.html' |
                capitalize
                }}
            </li>
            {% else %}
            <li class="breadcrumb-item">
                <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">
                    {{
                    crumb | replace:'-',' ' | remove:'.html' | capitalize
                    }}
                </a>
            </li>
            {% endif %}
            {% endfor %}



        </ol>
    </nav>

    <div class="container">
        <div class="row text-center">
            <div class="col">

                <br>
                <h2>{{ page.title }}</h2>
                <hr>

                {{ content }}

            </div>
        </div>
    </div>

    <br>

    <script src="/themesasimple/ruffle/ruffle.js"></script>
    <script src="/themesasimple/emulators/emulator.js/src/data/loader.js"></script>
    <p>half life 3 confirmed</p>

</body>

</html>
